In [ ]:
# Import pandas library
import pandas as pd
  
# initialize list elements
data01 = [10,20,30,40,50,60,80,90,100,110,120,130,140,150]

data02 = [160,10,10,10,10,10]
  
# Create the pandas DataFrame with column name is provided explicitly
df01 = pd.DataFrame(data01, columns=['Numbers'])

df02 = pd.DataFrame(data02, columns=['Numbers'])

In [ ]:
# print dataframe.
df01

In [ ]:
# print dataframe.
df02

In [9]:
df02['a'] = df01.Numbers.iloc[-1] + df02.Numbers.cumsum()

df02

   Numbers    a    b
0      160  310  160
1       10  320  170
2       10  330  180
3       10  340  190
4       10  350  200
5       10  360  210

In [ ]:
df02['b'] = df02.Numbers.cumsum()

df02